@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
  background-image: url('/Assets/FundoImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header_container {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.text_header {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.text_header:hover {
  transform: scale(1.03);
  animation: changeColor 0.5s ease-in-out forwards;
}
.text_header:active {
  transform: scale(0.95);
}

.title {
  margin-top: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  color: #f5c730;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.link_container {
  margin-top: 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket_link {
  border: none;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rocket_img {
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}
.rocket_img:hover {
  transform: scale(1.1);
}


@keyframes changeColor {
  0% {
    color: #ffffff;
  }
  100% { 
    color: #f5c730;
  }
}