@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
  background-image: linear-gradient(to bottom, #141416, #151518, #15151a, #16161b, #17161d, #191821, #1b1926, #1d1b2a, #211e32, #25213a, #292343, #2e264b);
  height: 100vh;
  overflow: hidden;
}

.header_container {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.stardust_text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
}

.download_text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
}


.text_header {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
.text_header:hover {
  transform: scale(1.03);
  animation: changeColor 0.5s ease-in-out forwards;
}
.text_header:active {
  transform: scale(0.95);
}

main {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.main_container { 
  height: 90%;
  width: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about_container {
  height: 90%;
  width: 90%;
}

.motivacao_container {
  height: 90%;
  width: 90%;
}

.about_title {
  width: 100%;
  height: auto;
  color: #f5c730;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  text-align: start;
  padding-inline: 10px;
  margin-bottom: 50px;
}

.about_paragraph {
  width: 100%;
  padding: 10px;
}

.paragraph {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;
}

.motivacao_title {
  width: 100%;
  height: auto;
  color: #f5c730;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  text-align: start;
  padding-inline: 10px;
  margin-bottom: 50px;
}

.motivacao_paragraph {
  width: 100%;
  padding: 10px;
}

.motivacao {
  font-family: 'Times New Roman', Times, serif;
}


@keyframes changeColor {
  0% {
    color: #ffffff;
  }
  100% { 
    color: #f5c730;
  }
}

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(-20px);}
  100% { opacity: 1; transform: translateY(0);}
}